*{
background: aqua ;
}

.cabecera{
	position: absolute;
	background-color: #DBDEE1;
	top: 10px;
	left: 50px;
	right: 50px;
	height: 100px;
}
.contenido{
 position: absolute;
 top: 110px;
 background-color: blue;
 left: 50px;
 right: 50px;
 height: 500px;

}